.news-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 
}

.news-article {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
}

.news-article:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
}

li {
    list-style-type: none;
}